.project-card {
    padding: 12px;
    color: #505050;
    width: 100%;
    justify-content: center;
    margin-bottom: 5vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: auto;
    margin-right: auto;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    position: relative;
    display: block;
    width: 300px;
    height: 100px;
    background-color: white;
    overflow: hidden;
    overflow-y: auto;
    box-shadow: 0px 8px 36px rgba(0, 0, 0, 0.16);
    border-radius: 16px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: 0.5s

}

.project-card::-webkit-scrollbar {
    display: none;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card-title {
    font-weight: 500;
}

.project-card-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
    --webkit-line-clamp: 2;
    --webkit-box-orient: vertical;
}

.goto-chat-btn {
    color: #8FB8ED;
    font-size: 30px;
}

.goto-chat-btn:hover {
    cursor: pointer;
    color: #5765e2;
}

.container {
    justify-content: space-between;
    flex-direction: column;
    height: 10vh;
    display: flex;
}

.container .btn-holder {
    justify-content: flex-end;
    display: flex;
}