.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--main-button-color);
    border-radius: 37px;
    padding: 40px 10px;
    
}

.navbar__icon {
    color: white
}

.MuiIconButton-root {
    width: 50px;
    height: 50px;
    transition: 0.5s;
}