:root {
  --purple: #C2BBF0;
  --purple-blue: #8FB8ED;
  --background: white;
  --main-button-color: #8FB8ED;
}

html {
  background-color: #C2BBF0;
}


.container {
  min-height: 80vh;
  width: 400px;
  position: relative;
  bottom: -50px;
  margin: auto;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba (0, 0, 0, 0.2);
  border: none;
  border-radius: 40px;
  color: black;
  background-color: var(--background);
}

