:root {
  --purple: #C2BBF0;
  --purple-blue: #8FB8ED;
  --background: white;
  --main-button-color: #8FB8ED;
}

html {
  background-color: #C2BBF0;
}


.screen-container {
  min-height: 80vh;
  width: 400px;
  position: relative;
  bottom: -50px;
  margin: auto;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba (0, 0, 0, 0.2);
  border: none;
  border-radius: 40px;
  color: black;
  background-color: var(--background);
}

button {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 20px;
  background-color: var(--main-button-color);
}

input {
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 20px;
  width: 80%;
  border-color: #F3F4F6;
  border-style:solid;
}


input:focus, button:focus {
  outline: none;
}

