.messageBox {
    border-radius: 20px;
    padding: 5px 20px;
    color: white;
    display: inline-block;
    max-width: 80%;
    margin: 3px;
}

.messageContainer {
    display: flex;
    justify-content: flex-end;
    padding: 0 5%;
    margin-top: 3px;
}

.backgroundPurple {
    background-color: var(--main-button-color);
}

.backgroundLight {
    background-color: #F3F3F3;

}

.white {
    color: white;
}

.dark {
    color: black;
}

.justifyStart {
    justify-content: flex-start;
}

.justifyEnd {
    justify-content: flex-end;
}
